<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169316050119-vu51ro5f09jj1q0ngq3ni12a3npaqrgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169316050119-vu51ro5f09jj1q0ngq3ni12a3npaqrgf</string>
	<key>API_KEY</key>
	<string>AIzaSyD4VZQv1qXY7KLiLVc-z8e0MmRbwRXiaR0</string>
	<key>GCM_SENDER_ID</key>
	<string>169316050119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.SinglCoreDataV1</string>
	<key>PROJECT_ID</key>
	<string>citys-a3421</string>
	<key>STORAGE_BUCKET</key>
	<string>citys-a3421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169316050119:ios:ad691153804c8745044ae2</string>
</dict>
</plist>